@model List<Post>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blog entries</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>Post Id</th>
                <th>Author</th>
                <th>Title</th>
                <th>Content</th>
                <th>Approver</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model)
            {
            <tr>
                <td>@post.PostId</td>
                <td><b>@post.Author.Name</b></td>
                <td>@post.Title</td>
                <td>@post.Content</td>
                <td>@post.ApproverId</td>
            </tr>
            }
        </tbody>
    </table>

</div>
